body {
    font-family: sans-serif;
    background-image: url(background.jpeg);
    color: rgb(152, 43, 72);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #eda6ae;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(95, 21, 26, 0.5);
    text-align: center;
    max-width: 500px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    color: rgb(152, 43, 72);
}

.rating-stars {
    font-size: 3rem;
    cursor: pointer;
    margin: 1.5rem 0;
}

.star {
    color: #ffffff;
    transition: color 0.2s;
}

.star.active {
    color: rgb(152, 43, 72);
}

.star:hover {
    color: rgb(196, 69, 103); 
    text-shadow: 0 0 8px rgb(152, 43, 72); 
    transform: scale(1.1); 
}

.star.active:hover {
    text-shadow: 0 0 12px rgb(196, 69, 103); 
    transform: scale(1.15);
}

textarea {
    width: 90%;
    height: 100px;
    margin: 1rem 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(152, 43, 72);
    background-color: #ead5dc7f;
    color: rgb(152, 43, 72);
    resize: none;
}

#submit-btn {
    padding: 10px 20px;
    border: none;
    background-color: rgb(152, 43, 72);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover:not(:disabled) {
    background-color: #4b00b4;
}

#submit-btn:disabled {
    background-color: rgb(196, 69, 103);
    cursor: not-allowed;
}

#message {
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(196, 69, 103);
}

.reviews-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews-container h2 {
    color: rgb(152, 43, 72);
    margin-bottom: 1rem;
    text-align: center;
}

.review-card {
    background-color: #ead5dc7f;
    color: rgb(152, 43, 72);
    border-radius: 8px;
    margin-bottom: 1rem;
    border: 1px solid rgb(152, 43, 72);
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.card-stars {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card-star {
    color: rgb(152, 43, 72);
}

.card-comment {
    color: rgb(152, 43, 72);
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.5rem;
}

